* {
    font-family: Monaco, monospace;
    Background-color: #8fb1d6;
}

h1 {
    text-align: center;
    color: #fff;
    background-color: #6a97c8;
}

h3, 
li,
p {
    color: #fff;
    background-color: #6a97c8;
}