* {
   font-family: Monaco, monospace;  
   background-color: #8fb1d6;
}

h1, li {
    text-align: center;
}

h1 {
    color: #fff;
    background-color:#6a97c8 ;
}

li { 
    list-style: none;
}

a {
    color: #fff;
    style
}